.little-toolbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.little-toolbar {
  position: relative;
  background-color: #4d8d79;
  border-radius: 20px;
  min-width: 40px;
  min-height: 10px;
  padding: 5px 10px;
  transform-origin: left center;
  transform: scale(0, 0);
  color: #f3f3f3;
}

.little-sms-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #4d8d79; /* last one is #3eb7b5*/
  border-radius: 10px 0px 0px 10px;
  min-width: 40px;
  min-height: 10px;
  padding: 5px 20px 5px 5px;
  transform-origin: right center;
  transform: scale(0, 1);
  color: #f3f3f3;
}

.little-toolbar.visible {
  animation: growToolbar 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 2000ms;
}

.little-toolbar.hidden {
  animation: hideToolbar 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.sms-visible {
  animation: sendSmsGrow 1400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 50ms;
}

.little-toolbar::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #4d8d79;
  bottom: -17px;
  left: 10px;
}

@keyframes growToolbar {
  0% {
    transform: rotate(-30deg) scale(0, 0);
  }
  70% {
    transform: rotate(0deg) scale(1.05, 1.05);
  }
  85% {
    transform: rotate(0deg) scale(0.97, 0.97);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

@keyframes hideToolbar {
  from {
    transform: rotate(0deg) scale(1, 1);
  }
  to {
    transform: rotate(-10deg) scale(0, 0);
  }
}

@keyframes sendSmsGrow {
  0% {
    transform: scale(0, 1);
  }
  15% {
    transform: scale(1, 1);
  }
  85% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 600px) {
  .little-sms-toolbar {
    transform: scale(1, 0);
    transform-origin: top center;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 5px 5px 5px;
  }

  @keyframes sendSmsGrow {
    0% {
      transform: scale(1, 0);
    }
    15% {
      transform: scale(1, 1);
    }
    85% {
      transform: scale(1, 1);
    }
  }
}

@media screen and (min-width: 992px) {
  .little-sms-toolbar {
    display: none;
  }
}
