.shop-menu-container {
  display: flex;
  padding: 10px;
  background-color: #ececec;
  flex-direction: row-reverse;
  border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
}

.shop-menu-container .icon-container {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #fdfdfd;
  color: #212121;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shop-menu-container .icon-container.selected {
  background-color: #3d7090;
  color: #fdfdfd;
}

.shop-menu-container .search-container {
  flex-grow: 1;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  color: #212121;
}

.shop-menu-container .search-container .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fdfdfd;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-container input {
  height: 90%;
  background-color: #fdfdfd;
  width: 100%;
  border: none;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

.search-container svg {
  cursor: pointer;
}

.search-container input:focus {
  /* border: solid 1px rgba(33, 33, 33, 0.6); */
  outline: none;
}

@media screen and (max-width: 792px) {
  .shop-menu-container .icon-container {
    padding: 5px;
    border-radius: 50%;
  }
}
