.flower-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  z-index: -4;
  position: relative;
}

.flower-box {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  /* background-color: #917a67; */
  background-color: #93a4e2;
  z-index: -3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flower-pot {
  width: 30px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #ff7043;
  z-index: 0;
  bottom: 5px;
}

.flower-pot::before {
  content: "";
  width: 60px;
  height: 10px;
  position: absolute;
  background-color: #ff7043;
  z-index: 0;
  bottom: 25px;
  left: -15px;
  filter: drop-shadow(0px 10px 15px #212121);
}

.flower {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: darkorange;
  border-radius: 50%;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: flowerRotate 1500ms linear infinite; */
}

.flower::after {
  content: "";
  width: 5px;
  height: 40px;
  z-index: -4;
  background-color: brown;
  position: absolute;
  top: 10px;
}

.flower-rotate-animation {
  animation: flowerRotate 2500ms linear infinite;
}

.flower > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: -3;
  /* transform-origin: 20px 35px; */
}

.flower > div :nth-of-type(1) {
  width: 40px;
  height: 15px;
  background-color: #e91e63;
  border-radius: 10px;
  position: absolute;
  z-index: -3;
}

.flower div :nth-of-type(2) {
  width: 40px;
  height: 15px;
  background-color: #e91e63;
  border-radius: 10px;
  position: absolute;
  z-index: -3;
  transform: rotate(120deg);
}

.flower div :nth-of-type(3) {
  width: 40px;
  height: 15px;
  background-color: #e91e63;
  border-radius: 10px;
  position: absolute;
  z-index: -3;
  transform: rotate(240deg);
}

.flower-rain {
  position: absolute;
  top: 2px;
  display: flex;
  justify-content: center;
  left: 15px;
  width: 90px;
  height: 100px;
}

.flower-rain.visible {
  visibility: visible;
}

.flower-rain.hidden {
  visibility: hidden;
}

.flower-rain span {
  top: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #d4f1f9;
  margin: 0px 5px;
  border-radius: 0px 10px 10px 10px;
  transform: rotate(45deg);
  opacity: 1;
}

.flower-rain-animation {
  animation: dropRain 800ms linear infinite;
}

.flower-rain span:nth-of-type(1) {
  left: 0;
  animation-delay: -500ms;
}
.flower-rain span:nth-of-type(2) {
  left: 15px;
  animation-delay: -250ms;
}
.flower-rain span:nth-of-type(3) {
  left: 30px;
  animation-delay: -800ms;
}
.flower-rain span:nth-of-type(4) {
  left: 45px;
  animation-delay: -500ms;
}
.flower-rain span:nth-of-type(5) {
  left: 60px;
  animation-delay: -60ms;
}
.flower-rain span:nth-of-type(6) {
  left: 75px;
  animation-delay: -480ms;
}

@keyframes flowerRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dropRain {
  100% {
    top: 100%;
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .flower-widget-container {
    padding: 60px 10px 10px 10px;
    order: 3;
  }
}
