.detail-container .desc-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 1px rgba(61, 112, 144, 0.4);
  padding: 20px;
  background-color: #ffffff;
}

.desc-container .title-container {
  display: flex;
  direction: rtl;
  padding: 0px 10px;
}

.desc-container .price-container {
  display: flex;
  direction: rtl;
  padding: 20px 10px;
}

.desc-container .price-container p {
  color: #cb2d58;
  font-weight: 500;
  font-size: 25px;
}

.desc-container .button-container {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.desc-container .button {
  width: 90%;
  background-color: #3d7090;
  color: #f9f9f9;
}

.desc-container .button:hover {
  background-color: #4683a8;
}

.desc-container .exist-container {
  direction: rtl;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.desc-container .exist-container div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.desc-container hr {
  width: 100%;
  margin: 20px 0px;
  border-radius: 2px;
  border: transparent;
  border-top: 1px solid #3d7090;
}

.exist-container .green {
  background-color: #228b22;
}

.exist-container .red {
  background-color: red;
}

.desc-container .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.desc-container .icons-container .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #444444;
  row-gap: 10px;
}

.icons-container .icon.right span {
  direction: rtl;
}
