.images-slider-container {
  display: flex;
  flex-direction: row;
  direction: rtl;
  padding: 0px 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  column-gap: 10px;
}

.images-slider-container img {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
  margin: 10px 0px;
}
