.switch {
  width: 40px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: #43484d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #4d9760;
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
