.store-suggestion-container {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  flex-direction: row-reverse;
  background-color: #3d7090;
  background-image: url("../../../../assets/backgroundSquare.svg");
  background-attachment: fixed;
  background-size: cover;
}

.store-suggestion-container .title {
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  direction: rtl;
  align-items: center;
  padding: 20px;
  row-gap: 10px;
  max-width: 150px;
}

.store-suggestion-container .title p {
  font-size: larger;
  font-weight: 400;
}

.store-suggestion-container .title button {
  padding: 10px;
  border-radius: 10px;
  color: #212121;
  font-family: Vazirmatn, sans-serif;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.store-suggestion-container .title button:active {
  background-color: #cecece;
}

.store-suggestion-container .cards-container {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  column-gap: 5px;
}

.store-suggestion-container .cards-container .card {
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  row-gap: 20px;
}

.store-suggestion-container .cards-container .off-container {
  padding: 0px 5px;
  border-radius: 10px;
  background-color: #d2042d;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 5px;
}

.store-suggestion-container .cards-container .image-container {
  padding: 5px;
  background-color: azure;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.store-suggestion-container .cards-container img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.store-suggestion-container .price-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  direction: rtl;
  cursor: pointer;
  position: relative;
}

.store-suggestion-container .price-container .shop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  transform-origin: right center;
  transform: scaleX(0);
  transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: underline #d2042d 2px;
  text-underline-offset: 10px;
}

.store-suggestion-container .price-container:hover .shop {
  transform: scaleX(1);
}

.store-suggestion-container .price-container .shop p:hover {
  color: #d2042d;
}

.store-suggestion-container .price-container p {
  color: #212121;
  font-size: small;
}

.off-text {
  opacity: 0.6;
  text-decoration: line-through;
}

.final-price-text {
  font-size: medium;
}

@media screen and (max-width: 600px) {
  .store-suggestion-container .title {
    max-width: fit-content;
    width: auto;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 1px;
    padding: 10px 0px 10px 0px;
    justify-content: start;
    align-items: flex-start;
    row-gap: 10px;
    margin-left: 20px;
  }

  .store-suggestion-container .title p {
    font-size: small;
    writing-mode: sideways-lr;
    display: flex;
    align-items: flex-end;
  }

  .store-suggestion-container .title button {
    font-size: 10px;
    flex: 0.5;
    height: max-content;
    padding: 5px 2px;
    writing-mode: sideways-lr;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .store-suggestion-container .title button svg {
    transform: rotate(-90deg);
  }

  .store-suggestion-container {
    overflow-x: scroll;
    scrollbar-width: thin;
  }
}
