.comments-parent {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding: 20px 0px 0px 0px;
  overflow-x: scroll;
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* background-color: #f1f1f1; */
  background-color: #f8f8f8;
  border: 1px solid #212121;
  border-radius: 20px;
  flex-wrap: nowrap;
}

.comments-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 0px 40px 0px;
  scrollbar-width: thin; /* Firefox */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  cursor: pointer;
  scroll-padding-right: 30px;
}

.comments-scroll-enable {
  scroll-snap-type: x mandatory;
}

.single-item-container {
  padding: 10px 30px;
  /* width: 33vw; */
  flex: 0 0 auto;
}

.comment-item {
  border: solid rgba(29, 29, 29, 0.2) 1px;
  height: 150px;
  white-space: inherit;
  /* width: 250px; */
  border-radius: 10px;
  /* margin: 0px 15px; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  text-align: right;
  /* text-justify: auto; */
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: end;
}

.comment-item p,
span {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.comment-item div {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3eb7b5;
  bottom: -35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
