.detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.upper-container {
  display: flex;
  flex-direction: row-reverse;
}

.upper-container .imgs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
