body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  margin: 0;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* some useful colors */
.useless-class {
  color: #0a0b0f;
  color: #5c6268;
  color: #bbc3c8;
  color: #dcdfe2;
  color: #4d9760;
  color: #a0d3b7;
}
